/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Shantell Sans", cursive;
  color: white;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 100vw;
  min-height: 100vh;
}

.App{
  display: grid;
  grid-gap: 10px;
  place-items: center;

}

.title {
  /* position: absolute;
  top: 15%;
  left: 50%; */
  min-width: 100%;
  /* transform: translate(-50%, -50%); */
  border: 2px solid #dadada;
  border-radius: 7px;
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
  color: white;
  background-color: white;
  color: #1e1e1e;
}



.flash-card {
  background-color: #1e1e1e;
  width: 600px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  cursor: pointer;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  padding: 10px 20px;
  border-radius: 7px;
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}
h2.question,
h2.answer {
  padding: 0 30px;
}

.flash-card:hover {
  border-color: #cf53f4;
  box-shadow: 0 0 10px #7667ea;
}

.isFlipped {
  transform: rotateY(180deg);
}

.backCard.is-flipping {
  visibility: hidden;
}
/* .frontCard{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.backCard{
  
} */

.frontCard,
.backCard {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.answer,
.question {
  text-align: center;
  width: fit-content;
  height: fit-content;
}
.backCard {
  transform: rotateY(180deg);
}

/* CSS */
.nextBtn {
  appearance: none;
  background-color: white;
  border: 2px solid #1a1a1a;
  border-radius: 10px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  font-family: inherit;
  line-height: normal;
  /* min-height: 80px; */
  width: 150px;
  outline: none;
  padding: 10px 18px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.nextBtn:disabled {
  pointer-events: none;
}

.nextBtn:hover {
  color: #fff;
  background-color: #1e1e1e;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  border: 2px solid white;
}

.nextBtn:active {
  box-shadow: none;
  transform: translateY(0);
}
.copyRight{
  position: absolute;
  bottom : 0;
  right: 15px
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid #ffffff;

}

.dropdown {
  position: absolute;
  top: 20px;
  left: 20px;
  /* position: relative; */
  display: inline-block;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
  border-radius: 10px;
  margin-top: 1px;
}

.dropdown-content span {
  color: black;
  padding: 12px 16px;
  display: block;
  border-radius: 10px ;
  cursor: pointer;
}

.dropdown-content span:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}


.stats{
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */
  display: flex;
  flex-direction: row;
  gap: 20%;
  justify-content: center;
  align-items: center;
}

form input{
  width: 100%;
  padding: 15px 20px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

form input:focus {
  border: 3px solid #1e1e1e;
}

form{
  width: 80%;
  height: 50px;
}
.checkBtn{
  width: 20%;
  height: 50px;
  appearance: none;
  background-color: #1a1a1a;
  border: 2px solid white;
  border-radius: 10px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  font-family: inherit;
  line-height: normal;
  /* min-height: 80px; */
  outline: none;
  padding: 10px 18px;
  text-align: center;
  text-decoration: none;
}

.checkBtn:hover {
  color: #fff;
  background-color: #1e1e1e;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  border: 2px solid white;
}


.form-container{
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
}

.shuffleBtn{
  background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #ffffff;
    width: 20%;
}

.shuffleBtn:hover {
  color: #fff;
  background-color: #1e1e1e;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  border: 2px solid white;
}


/* media queries */

/* Medium - Ipads */

@media screen and (max-width: 912px) {
  .App{
    margin-top: 20%;
  }
  .title {
    background-color: #dff1ff;
    border: 2px solid #dadada;
    border-radius: 7px;
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
    color: #1e1e1e;
    padding: 20px;
  }

}
/* small screens - Mobile */
@media screen and (max-width: 768px) {
  .App{
    margin-top: 20%;
  }
  .dropbtn{
    width: 120px;
    height: 30px;
    font-size: 15px;
    padding: 5px;
  }

  .dropdown-content span{
    font-size: 15px;

  }

  .flash-card {
    min-width: 300px;
    min-height: 150px;
  }

  .nextBtn {
    max-width: 100px;
    max-height: 50px;
    font-size: 14px;
  }

  .checkBtn{
    font-size: 12px;
    padding: unset;
  }
  .shuffleBtn{
    font-size: 12px;
    font-family: inherit;
    padding: 15px 10px;
  }

  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .title {
    min-width: unset;
    height: 110px;
    border: 2px solid #dadada;
    border-radius: 7px;
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
    color: #1e1e1e;
  }

  h2.question,
  h2.answer {
    font-size: 15px;
    padding: 0 10px;
  }

  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 15px;
  }
  h3 {
    font-size: 15px;
  }
  #root {
    padding: 0.8rem;
  }
  .flash-card {
    width: 280px;
    height: 150px;
  }
  .copyRight{
    font-size: 12px;
  }
}
