
body {
background-color: #faebd7;
color: #ffffff;
background-image: url("./assets/background.jpg");
background-size: cover;
background-repeat: no-repeat;
font-family: 'Shantell Sans', cursive;
background-attachment: fixed;
}



